In [1]:
import pandas as pd
from datetime import datetime as dt

In [8]:
sheet_id = '1j1T54UNgcUnM80YTbwn158PfrOuGOk8C5KBiAHTaHik'
sheet_name = 'Sheet1'
url = f"https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}"

df_google_sheet = pd.read_csv(url)
df_google_sheet

        Lat         Lon                   Address   Icon Colour
0  1.356417  103.871870  Serangoon Community Park  house    red
1  1.277770  103.846331               Cafe Kremes  house    red
2  1.365789  103.866922         Serangoon Gardens  house    red

In [9]:
df_input_file = pd.read_csv('input_file.csv')
df_input_file

        Lat         Lon                   Address   Icon Colour
0  1.361187  103.938798                 Our House    NaN    NaN
1  1.327124  103.721782             Jesleen House    NaN    NaN
2  1.303980  103.832032               Ion Orchard    NaN    NaN
3  1.356417  103.871870  Serangoon Community Park  house    red
4  1.277770  103.846331               Cafe Kremes  house    red

In [10]:
df_combined = df_input_file.append(df_google_sheet)
df_combined.reset_index(drop=True,inplace=True)

/tmp/ipykernel_242972/1771932555.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_combined = df_input_file.append(df_google_sheet)

In [11]:
df_combined.drop_duplicates(inplace=True)
df_combined

        Lat         Lon                   Address   Icon Colour
0  1.361187  103.938798                 Our House    NaN    NaN
1  1.327124  103.721782             Jesleen House    NaN    NaN
2  1.303980  103.832032               Ion Orchard    NaN    NaN
3  1.356417  103.871870  Serangoon Community Park  house    red
4  1.277770  103.846331               Cafe Kremes  house    red
7  1.365789  103.866922         Serangoon Gardens  house    red

In [12]:
df_combined.to_csv('input_file.csv', index=False)